* {
  box-sizing: border-box;
}

body {
  background-color: #F7F8FA;
  font-family: Oswald;
  font-style: normal;
  font-weight: 300;
}

/*menu bar*/

.menu {
  border: 2px solid #E6E4E1;
  height: 56px;
  /* display: flex; */


}

ul{
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover{
   transform: scale(1.8);
}


/*menu options list*/

.menu>.nav-bar {
  display: flex;
}

.nav-bar>li{
  padding: 10px;
  font-size: 12px;
  color: gray;

}

.main-page {
  display: flex;
}

/*The container for the articles*/

.articles {

  border: 2px solid #red;
  width: 750px;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 147px;
  padding-top: 0px;
}

.article {
  width: 754px;
  height: 20%;
  padding: 0px;
  background-color: white;
  margin-bottom: 20px;
  margin-top: 53px;

}

.article-figure{
  width: 748px;
  height: 471px;
  background-image: url("../images/article-image1.jpeg");
  background-size: cover;
}
.article-figure>img {
  width: 100%;
  height: 470px;
  margin: auto;

}

.main-content>h2 {
  font-size: 12px;
  text-align: center;
  padding-top: 22px;
}

.main-content>h1 {
  text-align: center;
  color: #807d7a;

}

.main-content>p {
  /* text-align: justify; */
  color: gray;
  padding: 20px;
  line-height: 25px;
}

.main-content>h3 {
  border: 1px solid #e68755;
  height: 37px;
  width: 173px;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  padding-top: 10px;
  padding-left: 15px;

  color: #e68755;
  margin: auto;


}

.main-content>.end-article{
  padding-top: 36px;
}

/*End of styling the articles*/


/*articles in the side of the page*/

.side-posts {


  /* background-color: white; */

  width: 362px;
  height: 90%;
  /* display: flex; */
  flex-direction: column;
  display: flex;
  margin-left: 32px;


}

.side-post {
  margin-top: 53px;
  background-color: white;
  /* margin-bottom: 100px; */
}

.article-figures>.background-picture{
  height: 184px;
  width: 100%;
  /* background-image: url("../images/bio-background.jpeg");
  background-size: cover; */
  z-index: 0;
  opacity: 20px;
}

.article-figures>.my-picture{
  height: 180px;
  width: 180px;
  /* background-image: url("../images/my-picture1.jpeg");
  background-size: cover; */
  border-radius: 50%;
  margin-top: -80px;
  z-index: 1;
  margin-left: 80px;
  border: 10px solid white;



}


.social-media{
  text-align: center;
  padding-bottom: 55px;


}



/*second blog pictures*/


.article-figures>.popular-post-pic1{
  height: 202px;
  width: 304px;
  /* background-image: url("../images/side-article-pic2.jpeg");
  background-size: cover; */
  margin: auto;

}

.article-figures>.popular-post-pic2{
  height: 202px;
  width: 304px;
  margin: auto;

}

.article-figures>.popular-post-pic3{
  height: 202px;
  width: 304px;
  margin: auto;

}

.popular-post>p{

color: gray;
font-size: 12px;
}

.popular-post2>p{

color: gray;
font-size: 12px;
}

.popular-post3>p{

color: gray;
font-size: 12px;
}


.side-article-pic>h2 {
  font-size: 10px;
  /* list-style: none; */
}

.my-bio>p {
  font-size: 15px;
  color: gray;
  text-align: left;
  padding-left: 40px;
  line-height: 25px;

}

.my-bio>h1 {
  color: gray;
  font-size: 20px;
  text-align: center;

}

.side-post>h1{
  font-size: 15px;
  text-align: center;
}

/*this is for the second post in the right*/
/* .side-article-pic>p{
  font-size: 15px;
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  color: red;
} */

/*Second post*/
/* .side-post>.latest-posts {
  height: 516px;
  background-color: white; */
  /* margin-top: 43px; */
/* } */



/*Second Post pictures*/

.second-post{
  color: red;
}


.side-post>.latest-posts {
  /* height: 515px; */
padding-top: 5px;
}

.latest-posts>h1{
  color: gray;
  font-size: 18px;
  text-align: center;
}

.second-post>.second-post-date{
  font-size: 12px;
  color: gray;
  padding-bottom: 30px;

}

.second-post>p{
  font-size: 15px;
  color: gray;
}
.article-figures>.second-post-pic1{

  height: 75px;
  width: 103px;
  float: left;

  margin: auto;
}



.article-figures>.second-post-pic2{

  height: 75px;
  width: 103px;
  float: left;
  margin: auto;

}

.article-figures>.second-post-pic3{

  height: 75px;
  width: 103px;
  float: left;
  margin: auto;

}

.article-figures>.second-post-pic4{

  height: 75px;
  width: 103px;
  float: left;
  margin: auto;

}

.second-post-pic1>p {
  font-size: 10px;
}
/*Third post*/

.instgram-feed>h1 {
  font-size: 18px;
  color: gray;
  text-align: center;
  padding-top: 20px;
}

.instgram-feed>.third-article-pictures{

  padding-left: 30px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 35px;


}


.third-article-pictures>.third-article-pic1 {
  height: 154px;
  width: 145px;
  padding-left: 10px;
  padding-bottom: 8px;

}

.third-article-pictures>.third-article-pic2 {
  height: 154px;
  width: 145px;
  padding-left: 10px;
  padding-bottom: 8px;

}

.third-article-pictures>.third-article-pic3 {
  height: 154px;
  width: 145px;
}

.third-article-pictures>.third-article-pic4 {
  height: 154px;
  width: 145px;

}

.third-article-pictures>.third-article-pic5 {
  height: 154px;
  width: 145px;
}

.third-article-pictures>.third-article-pic6 {
  height: 154px;
  width: 145px;
}

.pictures {
  /* background-color: gray; */
  height: 189px;
  padding-bottom: 84px;
  display: flex;
  flex-wrap: nowrap;
   align-items: stretch;
   margin: 0px;



}

.bottom-pictures {
  display: flex;
  flex-wrap: nowrap;
  margin: 0px;
  height: 189px;
  width: 180px;
}

/* .buttom-pictures>.footer-first{
  height: 189px;
  width: 184px;
  background-image: url("../images/footer-pic1.jpeg");
  background-size: cover;
}

.buttom-pictures>.footer-second{
  height: 189px;
  width: 189px;
  background-image: url("../images/footer-pic2.jpeg");
  background-size: cover;
}

.buttom-pictures>.footer-third{
  height: 189px;
  width: 184px;
  background-image: url("../images/footer-pic3.jpeg");
  background-size: cover;
  margin: 0px;
}

.buttom-pictures>.footer-forth{
  height: 189px;
  width: 184px;
  background-image: url("../images/footer-pic4.jpeg");
  background-size: cover;
}

.buttom-pictures>.footer-fifth{
  height: 189px;
  width: 184px;
  background-image: url("../images/footer-pic5.jpeg");
  background-size: cover;
}

.buttom-pictures>.footer-sixth{
  height: 189px;
  width: 184px;
  background-image: url("../images/footer-pic6.jpeg");
  background-size: cover;
}

.buttom-pictures>.footer-seventh{
  height: 189px;
  width: 184px;
  background-image: url("../images/footer-pic7.jpeg");
  background-size: cover;
}

.buttom-pictures>.footer-eighth{
  height: 184px;
  width: 184px;
  background-image: url("../images/footer-pic8.jpeg");
  background-size: cover;
} */
/*This is for the footer with the copy rights*/
.footer {
  background-color: black;
  color: gray;
  height: 50px;
  padding-top: 15px;
  text-align: center;
}
